<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="../public/style.css">
    <style>
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        
        [class*='col-'] {
            float: left;
        }
        
        .col-6 {
            width: 50%;
        }
        
        .navbar {
            display: inline-block;
            margin-left: 25px;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-6">
            <a href="/income/add" class="navbar"> Add New Income</a>
            <a href="/expense/add" class="navbar">Add New Expense</a>
            <a href="/user/logout" class="navbar">Logout</a>
            <p>Incomes</p>
            <table>
                <tr>
                    <th>Amount</th>
                    <th>Reason</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                <% for(i in  incomes) { %>
                    <tr>
                        <td>
                            <%= incomes[i].amount %>
                        </td>
                        <th>
                            <%= incomes[i].reason %>
                        </th>
                        <td><a href="/user/income/delete/<%= incomes[i]._id %>">delete</a></td>
                        <td><a href="/user/income/edit/<%= incomes[i]._id %>">edit</a></td>
                    </tr>
                    <% } %>

            </table>
        </div>
        <div class="col-6">
            <p>Expense</p>
            <table>
                <tr>
                    <th>Amount</th>
                    <th>Reason</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                <% for(i in  expenses) { %>
                    <tr>
                        <td>
                            <%= expenses[i].amount %>
                        </td>
                        <th>
                            <%= expenses[i].reason %>
                        </th>
                        <td><a href="/user/expense/delete/<%= expenses[i]._id %>">delete</a></td>
                        <td><a href="/user/expense/edit/<%= expenses[i]._id %>">edit</a></td>
                    </tr>
                    <% } %>

            </table>
        </div>
    </div>

</body>

</html>